.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 35px 25px;
    justify-content: center;
    justify-items: center;
    gap: 35px;
}

.empty {
    color: var(--color-rojo);
    font-family: "Merriweather", serif;
    font-size: clamp(1.1rem, 3.1vw, 1.7rem);
}

@media (max-width:375px) {

    .grid-container {
        margin: 35px 15px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}