.card {
    display: flex;
    box-shadow: 0px 0px 10px 0px rgba(229, 9, 20, 1);
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-flow: column wrap;
    color: var(--color-gris);
    gap: 15px;
    text-align: center;
    width: 100%;
    /* transition: transform .2s ease-in-out; */
}

.card:hover {
    /* transform: scale(1.1);
    height: 600px; */
    box-shadow: 0px 0px 22px 0px rgba(229, 9, 20, 1);
}

.movie-title {
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    padding: 10px 5px;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.overview-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
    height: 150px;
    scrollbar-width: thin;
    scrollbar-color: #666 transparent;
    /* flex: 1 1 0; */
}

.overview {
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
    word-spacing: 1px;
    width: 100%;
    padding: 15px 5px;
}