.card {
    display: flex;
    box-shadow: 0px 0px 10px 0px rgba(229, 9, 20, 1);
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-flow: column wrap;
    color: var(--color-gris);
    gap: 15px;
    text-align: center;
}

.movie-title {
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    padding: 10px 5px;
}

.overview {
    font-size: 16px;
    word-spacing: 1px;
    padding: 10px 5px;
    width: 100%;
}
