header {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    gap: 2rem;
}

header h1 {
    font-family: "Lora", serif;
    color: var(--color-rojo);
    font-size: clamp(2rem, 6vw, 3.5rem);
    font-weight: bold;
}

h1::selection {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
}

@media (max-width:1024px) {

    header {
        flex-direction: column;
    }
}