header {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    gap: 2rem;
}

.btn-h1 {
    background: var(--color-negro);
    border: none;
}

h1 {
    color: var(--color-rojo);
    font-size: clamp(2rem, 6vw, 3.5rem);
    letter-spacing: 2px;
}

h1:hover {
    cursor: pointer;
    color: var(--color-blanco);
}

h1::selection {
    background-color: var(--color-rojo);
    color: var(--color-blanco);
}

@media (max-width:1024px) {

    header {
        flex-direction: column;
    }
}