footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    padding: 30px 15px;
    gap: 30px;
}

footer>p {
    color: var(--color-blanco);
    font-size: clamp(.9rem, 1.7vw, 1rem);
    text-align: center;
}

.ancor-footer {
    color: var(--color-rojo);
    text-decoration: none;
    font-weight: bold;
}

.ancor-footer:hover {
    text-decoration: underline;
}

.ancor-iconos{
    text-decoration: none;
    color: var(--color-blanco);
}

.iconos {
    display: flex;
    gap: 20px;
    color: var(--color-blanco);
    font-size: 27px;
    padding: 20px 0;
}

.github,
.linkedin {
    transition: transform .2s ease-in-out;
}

.iconos {
    cursor: pointer;
    transform: scale(1.2);
}

.github:hover,
.linkedin:hover {
    cursor: pointer;
    transform: scale(1.2);
}